---
layout: default
title: Copenhagen Tech Fest 2016
---

<section class="splash">
  <a name="splash"></a>

  <div class="row show-desktop">
    <div class="col-md-9 col-md-offset-3">
      <h1>Copenhagen Tech Fest</h1>
      <img class="animation parallax" src="/img/splash.gif"
        data-top-move-start=0.4
        data-bottom-move-start=1
        data-exponential=1.6
        src="/img/splash.gif"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 font-mono intro text-highlight">
      <p>Copenhagen Tech Fest is the one-stop shop to the best of Danish technology and startups. +30 events in more than 20 venues  all over Copenhagen, Sept 1-30.</p>
      <p>In other words:</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <p class="font-calibre-black">
        All about Technology<br/>
        All over Copenhagen<br/>
        All of September<br/>
      </p>

      <div class="social font-mono parallax"
        data-top-move-start=0
        data-bottom-move-start=0.5
        data-exponential=2>
        <a href="https://instagram.com/cphtechfest"><img src="img/instagram.svg" />Instagram ↗</a>
        <a href="https://twitter.com/cphtechfest"><img src="img/twitter.svg" />Twitter ↗</a>
        <a href="https://facebook.com/cphtechfest"> <img src="img/facebook.svg" />Facebook ↗</a>
        <a href="https://medium.com/@cphftw"> <img src="img/medium.svg" />Medium ↗</a>
      </div>
    </div>
  </div>

</section>

<section class="events">
  <a name="events"></a>
  <h2>Event Calendar</h2>
  <div class="nav">
    <div class="row">
      <div class="col-md-3 col-md-push-3">
        <a href="#" class="link-show-past-events">Show past events &#8595;</a>
      </div>
    </div>
  </div>

  <ol class="eventlist" id="eventlist">
  <div class="row-highlight"></div>
    {% for post in site.posts reversed %}
      <li class="eventlist-element" data-unix="{{post.date | date: '%s'}}">
        <div class="eventlist-element__content" id="{{ post.id }}">
          <div class="row header">

            <div class="col-md-3">
              <div class="label font-mono">When:</div>
               <time datetime="{{ post.date | date: "%Y-%m-%d" }}" class="eventlist-element__date font-mono">
                 <span class="eventlist-element__date-day">{{ post.date | date: "%Y-%m-%d" }}</span>
               </time>
            </div>

            <div class="col-md-3 show-desktop">
              <div class="label font-mono">Event:</div>
              <span class="text-highlight text-bold font-mono">{{ post.type }}</span>
            </div>

            <div class="col-md-3 show-desktop">
              <div class="label font-mono">Venue:</div>
              <span class="text-bold font-mono">{{ post.venue }}</span>
            </div>

            <div class="col-md-3 show-desktop">
              <div class="label font-mono">Attendance:</div>
              <span class="text-bold font-mono">
              {% if post.free == 'true' %}
                FREE
              {% else %}
                Paid event
              {% endif %}
              </span>
            </div>
          </div>

          <div class="row">

            <div class="col-md-3 show-desktop">
                <span class="eventlist-element__date-duration font-mono text-highlight">
                  {% if post.endDate != nil %}
                    {{ post.date | date: "%-d" }}-{{ post.endDate | date: "%-d.%b" }}
                  {% else %}
                    {{ post.date | date: "%-d.%b" }}
                  {% endif %}
                </span>
            </div>

            <div class="col-md-6">
                <h3 class="eventlist-element__title">
                  {{ post.title }}
                </h3>
                <h4 class="eventlist-element__subtitle">{{ post.subtitle }}</h4>
            </div>

          </div>

          <div class="eventlist-element__details row">
            <div class="col-md-6 col-md-push-6">
               <img src="{{ post.image }}" />
            </div>

            <div class="col-md-3 col-md-pull-6 intro">

              <div class="eventlist-element__details__meta show-mobile">
                <div>
                  <div class="label font-mono">Event:</div>
                  <span class="value text-highlight text-bold font-mono">{{ post.type }}</span>
                </div>
                <div>
                  <div class="label font-mono">Venue:</div>
                  <span class="value text-bold font-mono">{{ post.venue }}</span>
                </div>
              </div>

               <h5>{{ post.intro }}</h5>
            </div>

            <div class="col-md-3 col-md-pull-6 description align-bottom">
               <p>{{ post.description }}</p>

               <div class="eventlist-element__details__links show-mobile">
                  <p><a class="font-mono text-highlight" href="{{ post.href }}" target="_blank">Event website  &#8599;</a></p>
               </div>
            </div>

          </div>

          <div class="row eventlist-element__details__links">
            <div class="col-md-1 expanded-indicator show-desktop">
	            <span class="down">&#8595;</span>
	            <span class="up">	&#8593;</span>
            </div>

            <div class="col-md-3 col-md-offset-5 show-desktop">
              <a class="font-mono text-highlight" href="{{ post.href }}" target="_blank">Event website  &#8599;</a>
            </div>

            {% unless post.free == 'true' %}
              <div class="col-md-3">
                <div class="buy-tickets">
                  <a class="font-mono text-highlight" href="{{ post.tickets }}" target="_blank">Buy tickets &#8599;</a>
                </div>
              </div>
            {% endunless %}

          </div>

        </a>
      </li>
    {% endfor %}
  </ol>

  <div class="events-join">
    <div class="row">
      <div class="col-md-6">
        <h4>Join the fun!</h4>
        <p>Host an event in Copenhagen in September. <br /><br /></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <a href="#contact" class="btn btn-primary">Host an event &#8594;</a>
      </div>
    </div>
  </div>

</section>


<!-- About, rocket! -->
<section class="image-section">
  <img src="/images/rocket-illustration.png" alt="">
</section>

<section class="about">
  <a name="about"></a>
  <h2>About Copenhagen Techfest</h2>

  <div class="slogan font-calibre-black show-desktop">
    All about Technology<br/>
    All over Copenhagen<br/>
    All of September<br/>
  </div>

  <div class="row flex">

    <div class="col-md-3 col-md-push-6">
      <p>Fast-growing startups, novel innovations, buzzing co-working spaces, rise in investments, experienced forces and lots of talent. Copenhagen is racing to become the next tech hub with lots to offer.</p>
      <p>At the brand new Copenhagen Tech Fest, we are celebrating this. For the first time in Denmark, we are uniting the startup community, aligning events, building a stage and putting the best ideas on it. Meet the talent, see the innovations and feel the energy, when we share the latest and put the future Danish tech stars on a pedestal.</p>
    </div>

    <div class="col-md-3 col-md-pull-3 col-md-offset-3 align-bottom">
      <div class="font-mono links">
        <p><a href="#contact">Host an event &#8594;</a></p>
      </div>
    </div>


    <div class="arrow show-desktop">
      <div class="arrow-1"></div>
      <div class="arrow-2"></div>
      <div class="arrow-3"></div>
    </div>

  </div>
</section>


<!-- Co-creators, rockstar! -->
<section class="image-section">
  <img src="/images/rockstar-illustration.png" alt="">
</section>

<section class="co-creators">
  <a name="co-creators"></a>
  <h2>Co-creators</h2>

  <div class="row">
    <div class="col-md-3 col-md-offset-3">
        <h3>We have the best friends</h3>
        <p>We have some fantastic partners, who are making this festival come alive. Give them some love - or join them!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9 col-md-offset-3 logos">
      <div class="row">
        <a href="http://www.momondo.dk/"><img src="img/Sponsor_collage_website_01.png" /></a>
        <a href="https://www.twentythree.net/"><img src="img/23.png" /></a>
        <a href="http://siteimprove.com/"><img src="img/siteimprove.png" /></a>
      </div>
      <div class="row">
        <a href="https://tradeshift.com/"><img src="img/tradeshift.png" /></a>
        <a href="https://unity3d.com/"><img src="img/unity.png" /></a>
        <a href="https://www.zendesk.com/"><img src="img/zendesk.png" /></a>
      </div>
      <div class="row center">
        <a href="https://www.simplesite.com"><img src="img/simplesite.png" /></a>
      </div>
      <div class="row center">
        <a href="http://international.kk.dk/live"><img src="img/cityofcopenhagen.png" /></a>
      </div>
      <div class="row center">
        <a href="http://trouble.co/"><img src="img/Trouble.jpg" /></a>
      </div>
    </div>
  </div>

</section>


<!-- Contact, twitter! -->
<section class="image-section">
  <img src="/images/twitter-illustration.png" alt="">
</section>

<section class="contact">
  <a name="contact"></a>
  <h2>Contact</h2>

  <div class="row">
    <div class="col-md-3 col-md-offset-3">
        <h3>Missing Something? </br>Then Make It!</h3>
        <p>We welcome and support good event ideas and partnerships.</p>
        <p>Contact Festival Director Marie Gørvild at <a class="text-highlight" href="mailto:mg@cphftw.dk">mg@cphftw.dk</a> / +45 61709104</p>
    </div>
  </div>

  <div class="row newsletter">
    <div class="col-md-6 col-md-offset-3">
      <div id="mc_embed_signup">
        <form action="//cphtechfest.us8.list-manage.com/subscribe/post?u=796fd984f9f18221643274d8f&amp;id=306795a525" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_796fd984f9f18221643274d8f_306795a525" tabindex="-1" value=""></div>
          <input type="email"  name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email address" />
          <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">Sign up for news &#8594;</button>
        </form>
        <div id="mce-responses" class="clear text-bold">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
        <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      </div>

      <div class="social">
        <a href="https://instagram.com/cphtechfest"><img src="img/instagram.svg" />Instagram ↗</a>
        <a href="https://twitter.com/cphtechfest"><img src="img/twitter.svg" />Twitter ↗</a>
        <a href="https://facebook.com/cphtechfest"> <img src="img/facebook.svg" />Facebook ↗</a>
        <a href="https://medium.com/@cphftw"> <img src="img/medium.svg" />Medium ↗</a>
      </div>
    </div>
  </div>

</section>


<script>

  $(function() {
    $('.events li').on('click', function(elmTarget) {
      $(this).toggleClass('state-expanded')
    })


    $('.events li').each(function() {
        var elmEvent = $(this)
        var eventTime = new Date(Number(elmEvent.data('unix')) * 1000);
        var currentTime = new Date();

        var past = false;

        if (currentTime.getYear() > eventTime.getYear()) {
          past = true;
        } else if (currentTime.getYear() == eventTime.getYear()) {
          if (currentTime.getMonth() > eventTime.getMonth()) {
            past = true;
          } else if (currentTime.getMonth() == eventTime.getMonth()) {
            if (currentTime.getDate() > eventTime.getDate()) {
              past = true;
            }
          }
        }

        if (past) {
          elmEvent.addClass('event-past hide')
        } else {
          elmEvent.addClass('event-future')
        }
    })

    $('.link-show-past-events').on('click', function(e) {
      $('.events li.event-past').toggleClass('hide')
      return false
    })

    window.onScroll = function () {
      if ($(window).width() > 768) {
        var scrollTop     = $(window).scrollTop();
        var windowHeight  = $(window).height();

        $('.parallax').each(function() {
          // Get normal offset
          var top;
          if (!isNaN(Number($(this).css('top').replace('px', '')))) {
            top = Number($(this).css('top').replace('px', ''));
          } else {
            top = 0;
          }

          var posY    = $(this).offset().top - top + $(this).height() / 2;
          var offset  = scrollTop - posY;

          var relPos  = - offset / windowHeight;

          $(this).attr({
            'data-top':     top,
            'data-posY':    posY,
            'data-offset':  offset,
            'data-relPos':  relPos,
          })

          var topMoveStart=0,
              bottomMoveStart=1,
              exponential=0;

          if ($(this).attr('data-top-move-start')) {
            topMoveStart = Number($(this).attr('data-top-move-start'));
          }
          if ($(this).attr('data-bottom-move-start')) {
            bottomMoveStart = Number($(this).attr('data-bottom-move-start'));
          }
          if ($(this).attr('data-exponential')) {
            exponential = Number($(this).attr('data-exponential'));
          }

          var dataTop = 0;

          if ((relPos < topMoveStart)) {
            dataTop = (relPos - topMoveStart) * windowHeight * exponential;
          } else if (relPos > bottomMoveStart) {
            dataTop = (relPos - bottomMoveStart) * windowHeight * exponential;
          }

          $(this).attr({
            'data-top': dataTop
          });
          $(this).css({
            'top': dataTop
          });

        });
      } else {
        $('.parallax').css({
          top: 0
        });
      }

    };
    window.onScroll();
    $(window).scroll(window.onScroll);

  });

  </script>
