<footer class="page-footer">
  <div class="container">

    <div class="row">
      <div class="col-md-3">
        <a href="{{ site.baseurl }}/">
          <img class="logo" src="img/logo.svg"/>
        </a>
      </div>

      <div class="col-md-6">
        <div class="slogan">
          Celebrating technology. <br/> 
          All over Copenhagen. <br/>
          All of September.<br/>
        </div>

        <p><strong>Made with love by #CPHFTW, the event organizers and our co-creators.</strong></p>
        <p>© 2016 – All rights reserved</p>
      </div>
      

      <div class="col-md-3 top">
        <a href="/#">Up top</a>
      </div>

    </div>

  </div>
</footer>