<header class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a class="logo" href="{{ site.baseurl }}/">
          <img src="img/logo.svg"/>
        </a>
      </div>

      <div class="col-md-3 col-md-offset-6">
        <div class="site-nav">
          <a class="highlight" href="#events">Event Calendar</a>
          <a class="highlight" href="#about">About</a>
          <div class="spacer"></div>
          <a class="font-mono" href="#co-creators">Co-creators</a>
          <a class="font-mono" href="#contact">Contact</a>
          <a class="font-mono" href="#host" class="button">Host an event</a>
        </div>
      </div>

    </div>
  </div>
</header>