<header class="page-header">
  <div class="container">
    <div class="row">

      <div class="col-md-3 col-md-push-9 parallax"
        data-top-move-start=40
        data-bottom-move-start=0
        data-exponential=2>
        <div class="site-nav">
          <a class="highlight" href="#events">Event Calendar</a>
          <a class="highlight" href="#about">About</a>
          <div class="spacer"></div>
          <a class="font-mono" href="#co-creators">Co-Creators</a>
          <a class="font-mono" href="#contact">Contact</a>
          <a class="font-mono" href="#contact" class="button">Host an event</a>
        </div>
      </div>

      <div class="col-md-3 col-md-pull-9 col-md-offset-6 parallax"
        data-top-move-start=40
        data-bottom-move-start=0
        data-exponential=1.2>
        <a href="{{ site.baseurl }}/">
          <img class="logo" src="/img/logo.svg"/>
        </a>
      </div>
    </div>
  </div>
</header>
