<header class="page-header">
  <div class="wrap">
    <a class="site-title" href="{{ site.baseurl }}/">
      <h1 class="title wtf-hover">Copenhagen Tech Week</h1>
      <span class="title-subline">September 2016</span>
    </a>
    <div class="site-nav">
      <a href="/about/">About</a>
      <a href="/attendee-guide/">Attendee Guide</a>
      <a href="https://twitter.com/cphftw">Twitter</a>
      <a href="/add-your-event/" class="button">Add your own Event</a>
    </div>
  </div>
</header>
<div class="page-intro">
  <div class="wrap">
    <p>
      {{ page.intro }}
    </p>
  </div>
</div>
