@font-face {
    font-family: Calibre;
    src:
        url('../fonts/CalibreWeb-Regular.woff2') format('woff2'),
        url('../fonts/CalibreWeb-Regular.woff') format('woff');
}

@font-face {
    font-family: CalibreBold;
    src:
        url('../fonts/CalibreWeb-Bold.woff2') format('woff2'),
        url('../fonts/CalibreWeb-Bold.woff') format('woff');
}

@font-face {
    font-family: CalibreBlack;
    src:
        url('../fonts/CalibreWeb-Black.woff2') format('woff2'),
        url('../fonts/CalibreWeb-Black.woff') format('woff');
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  @extend .font-calibre;
  font-size: 18px;
  line-height: 1.333;
  color: #000;
  height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
  @extend .font-calibre-black;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}

h2 {
  font-size: 180px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 140px;

  color: #0043ff;
}

h3 {
  font-weight: bold;
  line-height: 36px;
  font-size: 30px;
}

a,
a:link {
  text-decoration: none;
  color: #000;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: #000;
  }
}

.text-highlight {
   color: #0043ff !important;
}

.text-bold {
  font-weight: bold;
}

.container {
  position: relative;
}

section {
  margin-bottom: 200px;

  &.image-section {
    margin: -50px 0 100px;
    img {
      max-width: 100%
    }
  }
}

.align-bottom {
  display: flex;
  align-items: flex-end;
}

.flex {
  display: flex;
}

.font-calibre {
    font-family: "Calibre", sans-serif;
}

.font-calibre-black {
    font-family: "CalibreBlack", sans-serif;
}

.font-mono {
  font-family: 'Space Mono', monospace;
}

.btn {
  padding: 15px 25px;
  font-size: 20px;
  border-radius: 0;
}

.btn-primary {
  background: #0044ff;
  color: #fff;
  transition: background-color 0.3s;

  &:link {
    color: #fff;
  }

  &:hover {
    background: #000;
  }

}


.show-mobile {
  display: none;
}

@media (max-width: 768px) {

  section {
    margin-bottom: 50px;
  }

  .show-desktop {
    display: none;
  }

  .show-mobile {
    display: block;
  }

  h2 {
    font-size: 50px;
    line-height: 1.1;
  }

  .flex {
    display: block;
  }

  .align-bottom {
    display: block;
  }

}

.parallax {
  position: relative
}
