.contact {

  .social {
    display: block;
    margin-top: 50px;
    font-size: 20px;
    
    a {
      margin-right: 20px;
    }

    img {
      width: 30px;
      margin-right: 5px;
    }
  }

  .newsletter {

    input {
      height: 50px;
      width: 100%;
      padding: 0 5px 20px 0;
      margin: 40px 0;

      font-size: 24px;

      border: 0;
      border-bottom: 1px solid #000;
    }

  }

}