.events {
  padding-top: 100px;
}

.eventlist {
  position: relative;
  margin: 100px 0 50px 0;
  padding: 0;

 li {
   border-top: 1px solid #000;
   font-size: 16px;
   list-style: none;
   padding: 20px 0;
   cursor: pointer;

   &:last-child {
     border-bottom: 1px solid #000;
   }
   
   &.state-expanded {
    .eventlist-element__details {
      display: flex;
    }
   }
   
   .label {
     display: block;
     color: #000;
     text-align: left;
     padding: 0 0 2px 0;
     font-style: italic;
   }

   .header {
     padding: 0 0 20px 0;

     div, span {
      font-size: 12px;
    }
   }

 }

}

.row-highlight {
  position: absolute;
  top: -15px;
  bottom: -15px;
  right: -15px;
  width: 25%;
  z-index: -1;

  background: #f8eee4;
}

.eventlist-element__title {
  font-size: 40px;
  font-weight: bold;
  margin: 0;

  a {
    color: #000;
  }
}

.eventlist-element__subtitle {
  font-size: 28px;
}

.eventlist-element__date-duration {
  font-size: 30px;
}

.eventlist-element__details {
  display: none;
  height: 320px;

  .intro {
    h5 { 
      font-size: 30px;
    }
  }

}

.eventlist-element__details__links {
  font-size: 12px;
  text-decoration: underline;
}
.events-join {
  
  p, h4 {
    font-size: 24px;
  }

  h4 {
    font-weight: bold;
    margin: 0;
  }
}