.site-nav {
  a {
    display: block;
    color: #000;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .highlight {
    font-size: 30px;
    text-decoration: underline;
    margin: 0;
  }

  .spacer {
    margin-bottom: 20px;
  }

}