
.splash {
  font-size: 20px;

  .social {
    padding: 20px 0 100px 0;
    font-size: 14px;

    a {
      margin-bottom: 5px;
      display: block;
    }
  }


  .event-details {
    position: relative;
  }

  .event-info {
    position: absolute;
    top: 50px;
    right: -20px;

    font-size: 16px;

    h3 {
      font-size: 26px;
      line-height: 1;
      color: #000;
      margin: 0;
    }

    p {
      margin: 0;
    }
  }

  .tape {
    height: 30px;
    width: 100px;
    background: rgba(0, 67, 255, 0.9);
    position: absolute;
  }

  .tape-1 {
    top: 150px;
    left: 80px;
    transform: rotate(40deg);
  }

  .tape-2 {
    width: 130px;
    top: 320px;
    left: 192px;
    transform: rotate(14deg);
  } 

  .tape-3 {
    width: 300px;
    top: 520px;
    left: 15px;
    transform: rotate(-12deg);
  }

  .tape-4 {
    width: 150px;
    top: 621px;
    left: 230px;
    transform: rotate(-60deg);
  }

  .tape-5 {
    width: 150px;
    top: 621px;
    left: 335px;
    transform: rotate(-82deg);
  }

  .tape-6 {
    width: 180px;
    top: 621px;
    left: 510px;
    transform: rotate(-110deg);
  }  

  .tape-7 {
    width: 140px;
    top: 640px;
    right: 250px;
    transform: rotate(-140deg);
  }

  .tape-8 {
    width: 140px;
    top: 640px;
    right: 0px;
    transform: rotate(-150deg);
  }  

  .tape-9 {
    width: 300px;
    top: 500px;
    right: -200px;
    transform: rotate(-170deg);
  }    

  .tape-10 {
    width: 220px;
    top: 360px;
    right: -200px;
    transform: rotate(-185deg);
  }     

  .tape-11 {
    width: 150px;
    top: 237px;
    right: 393px;
    transform: rotate(120deg);
  }

  .tape-12 {
    width: 60px;
    top: 695px;
    transform: rotate(-102deg);
    left: 465px;
  }   
   
}
